!dfo-bb046-20210511/process_deploymentRealTime.py
!dfo-bb046-20210511/plotDeploymentMap.py
!dfo-bb046/dfo-bb046-20210511/plotBattery.py

!dfo-walle652/dfo-walle652-20210121/process_deploymentRealTime.py
!dfo-walle652/dfo-walle652-20210121/plotDeploymentMap.py
!dfo-walle652/dfo-walle652-20210121/plotBattery.py

dfo-bb046/
dfo-walle652/
