_site
.sass-cache
.jekyll-metadata

vendor/ruby/
.bundle/
Gemfile.lock

gliderdata/deployments/.templates/
gliderdata/deployments/dfo-bb046/
gliderdata/deployments/dfo-walle652/


gliderdata/deployments/.process_battery.log
gliderdata/deployments/.process_map.log
gliderdata/deployments/process-dfo-bb046-20210511_jp.sh
gliderdata/deployments/updateweb.py
gliderdata/deployments/.process.log