_site
.sass-cache
.jekyll-metadata

vendor/ruby/
.bundle/
Gemfile.lock







gliderdata/deployments/.templates



gliderdata/deployments/dfo-bb046/dfo-bb046-20210511/.ipynb_checkpoints
gliderdata/deployments/dfo-bb046/dfo-bb046-20210511/raw
gliderdata/deployments/dfo-bb046/dfo-bb046-20210511/rawnc_realtime
gliderdata/deployments/dfo-bb046/dfo-bb046-20210511/.process_battery.log
gliderdata/deployments/dfo-bb046/dfo-bb046-20210511/.process_map.log
gliderdata/deployments/dfo-bb046/dfo-bb046-20210511/.process.log
gliderdata/deployments/dfo-bb046/dfo-bb046-20210511/Makefile
gliderdata/deployments/dfo-bb046/dfo-bb046-20210511/plotBattery.py
gliderdata/deployments/dfo-bb046/dfo-bb046-20210511/plotDeploymentMap.py
gliderdata/deployments/dfo-bb046/dfo-bb046-20210511/plottingconfig.yml

!gliderdata/deployments/dfo-bb046/dfo-bb046-20210511/index.html



gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/.dinkumcache
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/.ipynb_checkpoints
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/binary
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/cac

gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/L0-gridfiles


gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/photos
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/realtime_raw
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/realtime_rawnc
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/.process.log
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/.process.map.log
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/.processMap.log
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/BatteryCalcs.html
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/BatteryCalcs.ipynb
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/Boo.nc
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/CheckRealtimeIssue.ipynb

gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/dfo-walle652_sensors.txt
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/dfo-walle652-20200616.kml
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/FirstLookRosie.html
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/FirstLookRosie.ipynb
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/getData.sh
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/getdeployment_metainfo.py
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/Makefile
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/plotExplorer19Map.py
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/plotLinePMap.py
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/plottingconfig.yml
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/process_deployment.py
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/process_deploymentDelayed.py
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/process_deploymentRealTime.py
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/processingsteps.md
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/Readme.md
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/synctodfo.sh
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/Untitled-Copy1.ipynb
gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/Untitled.ipynb

gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/L0-gridfiles/*
!gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/L0-gridfiles/dfo-walle652-20210121_grid.nc

gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/L0-timeseries/*
!gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/L0-timeseries/dfo-walle652-20210121.nc


gliderdata/deployments/.gitignore
gliderdata/deployments/.process.log
gliderdata/deployments/process-dfo-bb046-20210511_jp.sh
gliderdata/deployments/updateweb.py
gliderdata/deployments/.process_battery.log
gliderdata/deployments/.process_map.log



