
_site
.sass-cache
.jekyll-metadata

vendor/ruby/
.bundle/
Gemfile.lock

gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/*
gliderdata/deployments/dfo-bb046/dfo-bb046-20210511/*

!gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/index.html
!gliderdata/deployments/dfo-walle652/dfo-walle652-20210121/index.html
!gliderdata/deployments/cproof-deployments.geojson
!gliderdata/deployments/dfo-bb046/dfo-bb046-20210511/index.html

gliderdata/deployments/.gitignore
gliderdata/deployments/.process.log
gliderdata/deployments/process-dfo-bb046-20210511_jp.sh
gliderdata/deployments/updateweb.py
gliderdata/deployments/.process_battery.log
gliderdata/deployments/.process_map.log

gliderdata/deployments/__pycache__/

gliderdata/deployments/exclude.txt