---
layout: page
header-img: "img/MikeSaanich19.jpg"
---

 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
 integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
 crossorigin=""/>
 <script src="https://cdn.jsdelivr.net/leaflet.esri/1.0.0/esri-leaflet.js"></script>
 <script src="https://cdn.jsdelivr.net/leaflet.esri.geocoder/1.0.2/esri-leaflet-geocoder.js"></script>

 <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
crossorigin=""></script>



<body class="home"> 

<p>The Canadian-Pacific Robotic Ocean Observing Facility was initiated with CFI/BCKDF funding to build ocean observing
   capacity off the British Columbia coast. It operates a fleet of autonomous gliders, floats, and moorings providing 
   ocean scientists with long-term monitoring of the ocean at the small scales important to resolve upper ocean physical 
   and biological properties.</p>

<h3> Deployments </h3>


<header class="intro-header2" style="background-color:#6E7588;">
  <div class="container">
     <div class="row">
        <div>
            <div class="subheading" style="padding: 6px 0">
                <h6>
                  To date, our gliders have traveled {% include inputfile.html %} km.
                </h6>
            </div>
        </div>
      </div>
   </div>
 </header>


C-PROOF glider deployments are under way! Check out our <a href='/deployments/'>Deployments Page</a> to see the list of glider deployments and access data, and check out our <a href='/platforms/'>Platforms Page</a> for information about the Argo floats:

<div id="mapfront" style="width: 100%; height: 400px;"></div>

<script src="js/map.js"></script>

<h2>Partners</h2>

<h3>Operational Partners</h3>

<table style="width:100%">
  <tr>

    {% for partner in site.data.partners %}{% if partner.type == "opfunder2" %}{% if partner.visible == true %}
    <td><a href="{{ partner.url }}"><img src="{{ partner.img }}" alt="{{ partner.name }}" border="3"  width="80" /></a> </td>
    

    {% if forloop.index == 3 %}
      </tr>
      <tr>
    {% endif %}
  {% endif %}{% endif %}{% endfor %}
  
  
    {% for partner in site.data.partners %}{% if partner.type == "opfunder1" %}{% if partner.visible == true %} {% if partner.size == false %}
    <td><a href="{{ partner.url }}"><img src="{{ partner.img }}" alt="{{ partner.name }}" border="3"  width="120" /></a> </td>
    {% endif %}
    {% if partner.size == true %}
    <td><a href="{{ partner.url }}"><img src="{{ partner.img }}" alt="{{ partner.name }}" border="3"  width="230" /></a> </td>
    {% endif %}
    {% if forloop.index == 3 %}
      </tr>
      <tr>
    {% endif %}
  {% endif %}{% endif %}{% endfor %}
  
</tr>
</table>

<h3>Funding</h3>

<table style="width:100%"> 
  <tr>
  {% for partner in site.data.partners %}{% if partner.type == "funder" %}{% if partner.visible == true %}{% if partner.size == false %}
    <td><a href="{{ partner.url }}"><img src="{{ partner.img }}" alt="{{ partner.name }}" border="3"  width="120" /></a> </td>
    {% endif %}
    {% if partner.size == true %}
    <td><a href="{{ partner.url }}"><img src="{{ partner.img }}" alt="{{ partner.name }}" border="3"  width="230" /></a> </td>
    {% endif %}

    {% if forloop.index == 3 %}
      </tr>
      <tr>
    {% endif %}
  {% endif %}{% endif %}{% endfor %}
</tr>
</table>

<h3>Industry</h3>
<table style="width:100%"> 
<tr>
{% for partner in site.data.partners %}{% if partner.type == "industry" %}{% if partner.visible == true %}
  <td><a href="{{ partner.url }}"><img src="{{ partner.img }}" alt="{{ partner.name }}" border="3"  width="130" /></a> </td>
  {% if forloop.index == 3 %}
    </tr>
    <tr>
  {% endif %}
{% endif %}{% endif %}{% endfor %}
</tr>
</table>

<hr/>

<h2>
  <a href="{{ site.baseurl }}/search/index.html">
    Recent News
  </a>
</h2>

{% for post in paginator.posts offset:1 limit:4 %}   <!-- jpnote: added limit -->
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h4 class="post-title">            {{ post.title }}
        </h4>
        {% if post.subtitle %}
        <h5 class="post-subtitle">
            {{ post.subtitle }}
        </h5>
        {% endif %}
    </a>
    <p class="post-meta" style="margin-bottom:5px">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>

</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>

{% endif %}

</body>