---
layout: project_jp
title: "People"
description: "C-PROOF team"
header-img: "img/scenicglider_jp_crop.jpg"
category: members
---

<hr>

<body class="people">
	<h2>C-PROOF Investigators</h2>
  
<div class="row">
	<div class="columnl" >
	  <h2>Glider and Float Science Leads</h2>
	  {% for member in site.data.members %} {% if member.type == "sciencelead" %}{% if member.visible == true %}

  <img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:150px !important">

 
  <h3>{{ member.name }}</h3>
  <p class="sl">
  {{ member.role }}

 <br>

  {% if member.org %}
  {{member.title}}, {{ member.org }}
  {% endif %}
{% if member.url %}
<br>
<span class="social-share-googleplus"><a href="{{ member.url }}" title="Google Plus"><img src="{{ "/img/icons/url-icon.png"| prepend: site.baseurl }}" style="height:20px">Website</a></span>
{% endif %}
{% if member.github %}
<span class="social-share-googleplus"><a href="https://github.com/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">Github</a></span>
{% endif %}
{% if member.gplus %}
<span class="social-share-googleplus"><a href="{{ member.gplus }}" title="Google Plus"><img src="{{ "/img/icons/gplus-icon.png" | prepend: site.baseurl }}" style="height:20px">Google Plus</a></span>
{% endif %}
<br/>
<p class="people_">
  {% if member.bio %}
  {{ member.bio }}
  {% endif %}
  <p>
</p>
  <hr>
{% endif %}{% endif %}{% endfor %}


<h2>Hakai Institute Investigators</h2>


{% for member in site.data.members %} {% if member.type == "hakai" %}{% if member.visible == true %}
{% if member.img %}
	<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px;float:left; width:150px !important">
{% endif %}
	<h3>{{ member.name }}</h3>
{% if member.img %}
	<p class="staf">
{% else %}
	<p>
{% endif %}	
	{{ member.role }}
	</br>
	{{member.title}}
	{% if member.org %}
		{{ member.org }}
	{% endif %}
{% if member.url %}
<br>
<span class="social-share-googleplus"><a href="{{ member.url }}" title="Google Plus"><img src="{{ "/img/icons/url-icon.png"| prepend: site.baseurl }}" style="height:20px">Website</a></span>
{% endif %}
{% if member.github %}
<span class="social-share-googleplus"><a href="https://github.com/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">Github</a></span>
{% endif %}
{% if member.gplus %}
<span class="social-share-googleplus"><a href="{{ member.gplus }}" title="Google Plus"><img src="{{ "/img/icons/gplus-icon.png" | prepend: site.baseurl }}" style="height:20px">Google Plus</a></span>
{% endif %}
<br/>
<p class="people_"></p>
	{% if member.bio %}
	{{ member.bio }}
	{% endif %}
</p>
</p>
	<hr>
{% endif %}{% endif %}{% endfor %}


	<p></p>
	</div>
	<div class="columnr" >  
	  <h2>Co-Investigators</h2>
	  {% for member in site.data.members %} {% if member.type == "investigator" %}{% if member.visible == true %}

	  <img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:150px !important">
 
	  <h3>{{ member.name }}</h3>
	  <p class="sl">
 
	  {{ member.role }}
 
 
	  </br>
	  {% if member.org %}
	  {{member.title}}, {{ member.org }}
	  {% endif %}
  {% if member.url %}
  <br>
  <span class="social-share-googleplus"><a href="{{ member.url }}" title="Google Plus"><img src="{{ "/img/icons/url-icon.png"| prepend: site.baseurl }}" style="height:20px">Website</a></span>
  {% endif %}
  {% if member.github %}
  <span class="social-share-googleplus"><a href="https://github.com/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">Github</a></span>
  {% endif %}
  {% if member.gplus %}
  <span class="social-share-googleplus"><a href="{{ member.gplus }}" title="Google Plus"><img src="{{ "/img/icons/gplus-icon.png" | prepend: site.baseurl }}" style="height:20px">Google Plus</a></span>
  {% endif %}
  <br/>
  <p class="people_">
	  {% if member.bio %}
	  {{ member.bio }}
	  {% endif %}
	</p>
  </p>
 
	  <hr>
 
  {% endif %}{% endif %}{% endfor %}
	 
	  <p></p>
	</div>
  </div>


<h2> C-PROOF staff </h2>

{% for member in site.data.members %} {% if member.type == "cproofstaff" %}{% if member.visible == true %}
{% if member.img %}
	<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px;float:left; width:150px !important">
{% endif %}
	<h3>{{ member.name }}</h3>
{% if member.img %}
	<p class="staf">
{% else %}
	<p>
{% endif %}	

{% if member.role %}
	{{ member.role }} 
		<br>
{% endif %}
	{{ member.title }}
{% if member.url %}
<br>
<span class="social-share-googleplus"><a href="{{ member.url }}" title="Google Plus"><img src="{{ "/img/icons/url-icon.png"| prepend: site.baseurl }}" style="height:20px">Website</a></span>
{% endif %}
{% if member.github %}
<span class="social-share-googleplus"><a href="https://github.com/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">Github</a></span>
{% endif %}
{% if member.gplus %}
<span class="social-share-googleplus"><a href="{{ member.gplus }}" title="Google Plus"><img src="{{ "/img/icons/gplus-icon.png" | prepend: site.baseurl }}" style="height:20px">Google Plus</a></span>
{% endif %}
<br/>
	{% if member.bio %}
	{{ member.bio }}
	{% endif %}
</p>
	<hr>
{% endif %}{% endif %}{% endfor %}

<h2> Students and Post-docs </h2>

{% for member in site.data.students %} {% if member.visible == true %}

	<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:150px !important">

	<h3>{{ member.name }}</h3>
<p class="stu">
	{{ member.role }}


	</br>
	{% if member.org %}
	{{member.title}}, {{ member.org }}
	{% endif %}
{% if member.url %}
<br>
<span class="social-share-googleplus"><a href="{{ member.url }}" title="Google Plus"><img src="{{ "/img/icons/url-icon.png"| prepend: site.baseurl }}" style="height:20px">Website</a></span>
{% endif %}
{% if member.github %}
<span class="social-share-googleplus"><a href="https://github.com/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">Github</a></span>
{% endif %}
{% if member.gplus %}
<span class="social-share-googleplus"><a href="{{ member.gplus }}" title="Google Plus"><img src="{{ "/img/icons/gplus-icon.png" | prepend: site.baseurl }}" style="height:20px">Google Plus</a></span>
{% endif %}
<br/>

	{% if member.bio %}
	{{ member.bio }}
	{% endif %}
</p>

	<hr>
<span>	</span>
{% endif %}{% endfor %}


<meta name="viewport" content="width=device-width, initial-scale=1">

<hr>
<h2>Scientific Collaborators</h2>

<div class="row">
  <div class="column" style="background-color:rgb(250, 250, 250);">
    
    <h4>Youyu Lu</h4>
		Research Scientist, Department of Fisheries and Oceans Bedford Institute of Ocean Sciences
	<h4>Angelica Pena</h4>
		Research Scientists, Department of Fisheries and Oceans Institute of Ocean Sciences
	<h4>Brian Hunt</h4>
		Biological Oceanographer, Hakai Institute
	<h4>Charles Hannah</h4>
		Research Scientists, Department of Fisheries and Oceans Institute of Ocean Sciences
	<h4>Ian Perry </h4>
		Research Scientist, Department of Fisheries and Oceans Pacific Biological Station
	<h4>Jay Cullen</h4>
		Professor, University of Victoria, School of Earth and Ocean Sciences
	<h4>Susan Allen</h4>
		Professor, University of British Columbia, Earth, Ocean, and Atmospheric Sciences
	<h4>Peter Wild</h4>
		Professor, Director IESVic, University of Victoria Mechanical Engineering
	<h4>Benoit Poullot</h4>
		Environment and Climate Change Canada Environmental Numerical Weather Pred.
	
  </div>
  <div class="column" >
   
	<h4>Katja Fennel</h4>
		Professor Dalhousie University Department of Oceanography
	<h4>Randy Riemann</h4>
		Director, BC. Hydro Resource Planning
	<h4>Fabian Wolk</h4>
		President, Rockland Scientific Cascadia Coast Research
	<h4>Clayton Hiles</h4>
		Principal Engineer, Cascadia Coast Research
	<h4>John Dower</h4>
		Professor, University of Victoria Biology
	<h4>Lisa Miller</h4>
		Research Scientist, Department of Fisheries and Oceans Institute of Ocean Sciences
	<h4>Debby Ianson</h4>
		Research Scientist, Department of Fisheries and Oceans Institute of Ocean Sciences
	<h4>Stephen Brydon</h4>
		Director, BC Ministry of Energy and Mines Innovative Clean Energy Fund
	<h4>Adam Monahan</h4>
		Professor, University of Victoria, School of Earth and Ocean Sciences
	<h4>David Hebert</h4>
		Research Scientist, Department of Fisheries and Oceans Bedford Institute of Oceanography
	<h4>Richard Pawlowicz</h4>
		Professor, University of British Columbia, Earth, Ocean, & Atmospheric Sciences
  </div>
</div>


</head>
<body>
