---
layout: project_jp
title: "People"
description: "C-PROOF team"
header-img: "img/scenicglider_jp.jpg"
category: members
---
<! header-img: "img/RecoveryMar19.png" > 
<hr>

<h2>Investigators</h2>
{% for member in site.data.members %} {% if member.visible == true %}

	<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:150px !important">

	<h3>{{ member.name }}</h3>

	{{ member.role }}


	</br>
	{% if member.org %}
	{{member.title}}, {{ member.org }}
	{% endif %}
{% if member.url %}
<br>
<span class="social-share-googleplus"><a href="{{ member.url }}" title="Google Plus"><img src="{{ "/img/icons/url-icon.png"| prepend: site.baseurl }}" style="height:20px">Website</a></span>
{% endif %}
{% if member.github %}
<span class="social-share-googleplus"><a href="https://github.com/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">Github</a></span>
{% endif %}
{% if member.gplus %}
<span class="social-share-googleplus"><a href="{{ member.gplus }}" title="Google Plus"><img src="{{ "/img/icons/gplus-icon.png" | prepend: site.baseurl }}" style="height:20px">Google Plus</a></span>
{% endif %}
<br/>
	{% if member.bio %}
	{{ member.bio }}
	{% endif %}

	<hr>

{% endif %}{% endfor %}

<h2> Technicians </h2>

<h3>James Pegg</h3>
Marine Technician<br>
Institute of Ocean Sciences</br>
Lead technician for C-PROOF, James comes from Pacific Biological Station
where he specialized in submersible vehicles.

<h2>Hakai Institute collaborators</h2>

<h3>Jennifer Jackson</h3>
Physical Oceanographer

<h3>Wiley Evans</h3>
Chemical Oceanographer

<h3>Chris O'Sullivan</h3>
Marine Technician

<h2> Students and Post-docs </h2>

{% for member in site.data.students %} {% if member.visible == true %}

	<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:150px !important">

	<h3>{{ member.name }}</h3>

	{{ member.role }}


	</br>
	{% if member.org %}
	{{member.title}}, {{ member.org }}
	{% endif %}
{% if member.url %}
<br>
<span class="social-share-googleplus"><a href="{{ member.url }}" title="Google Plus"><img src="{{ "/img/icons/url-icon.png"| prepend: site.baseurl }}" style="height:20px">Website</a></span>
{% endif %}
{% if member.github %}
<span class="social-share-googleplus"><a href="https://github.com/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">Github</a></span>
{% endif %}
{% if member.gplus %}
<span class="social-share-googleplus"><a href="{{ member.gplus }}" title="Google Plus"><img src="{{ "/img/icons/gplus-icon.png" | prepend: site.baseurl }}" style="height:20px">Google Plus</a></span>
{% endif %}
<br/>
	{% if member.bio %}
	{{ member.bio }}
	{% endif %}

	<hr>

{% endif %}{% endfor %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

<h2>Two Equal Columns</h2>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Column 1</h2>
    <p>Some text..</p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Column 2</h2>
    <p>Some text..</p>
  </div>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h2>Three Equal Columns</h2>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Column 1</h2>
    <p>Some text..</p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Column 2</h2>
    <p>Some text..</p>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2>Column 3</h2>
    <p>Some text..</p>
  </div>
</div>

</body>


<h2>Scientific Collaborators_jp</h2>
<ul>


<h3>Lu, Youyu Research Scientist</h3>
	Department of Fisheries and Oceans Bedford Institute of Ocean Sciences

<h3>Pena, Angelica</h3>
	Research Scientists, Department of Fisheries and Oceans Institute of Ocean Sciences
<h3>Hunt, Brian </h3>
	Biological Oceanographer, Hakai Institute
<h3>Hannah, Charles</h3>
	Research Scientists, Department of Fisheries and Oceans Institute of Ocean Sciences
<h3>Perry , Ian Research </h3>
	Scientist, Department of Fisheries and Oceans Pacific Biological Station
<h3>Cullen, Jay </h3>
	Professor, University of Victoria, School of Earth and Ocean Sciences
<h3>Allen, Susan</h3>
	 Professor, University of British Columbia, Earth, Ocean, and Atmospheric Sciences
<h3>Wild, Peter</h3>
	Professor, Director IESVic, University of Victoria Mechanical Engineering
<h3>Poullot, Benoit</h3>
	Environment and Climate Change Canada Environmental Numerical Weather Pred.
<h3>Fennel, Katja </h3>
	Professor Dalhousie University Department of Oceanography
	
<h3>Riemann, Randy </h3>
	Director, BC. Hydro Resource Planning
<h3>Wolk, Fabian </h3>
	President, Rockland Scientific Cascadia Coast Research
<h3>Hiles, Clayton </h3>
	Principal Engineer, Cascadia Coast Research
<h3>Dower, John</h3>
	 Professor, University of Victoria Biology
<h3>Miller, Lisa </h3>
	Research Scientist, Department of Fisheries and Oceans Institute of Ocean Sciences
<h3>Ianson, Debby </h3>
	Research Scientist, Department of Fisheries and Oceans Institute of Ocean Sciences
<h3>Brydon, Stephen </h3>
	Director, BC Ministry of Energy and Mines Innovative Clean Energy Fund
<h3>Monahan, Adam </h3>
	Professor, University of Victoria, School of Earth and Ocean Sciences
<h3>Hebert, David</h3>
	 Research Scientist, Department of Fisheries and Oceans Bedford Institute of Oceanography
<h3>Pawlowicz, Richard </h3>
	 Professor, University of British Columbia, Earth, Ocean, & Atmospheric Sciences<


<h2>Scientific Collaborators</h2>
<li>Lu, Youyu Research Scientist, Department of Fisheries and Oceans Bedford Institute of Ocean Sciences</li>
<li>Pena, Angelica, Research Scientists, Department of Fisheries and Oceans Institute of Ocean Sciences</li>
<li>Hunt, Brian Biological Oceanographer, Hakai Institute</li>
<li>Hannah, Charles, Research Scientists, Department of Fisheries and Oceans Institute of Ocean Sciences</li>
<li>Perry , Ian Research Scientist, Department of Fisheries and Oceans Pacific Biological Station</li>
<li>Cullen, Jay Professor, University of Victoria, School of Earth and Ocean Sciences</li>
<li>Allen, Susan Professor, University of British Columbia, Earth, Ocean, and Atmospheric Sciences</li>
<li>Wild, Peter, Professor, Director IESVic, University of Victoria Mechanical Engineering</li>
<li>Poullot, Benoit, Environment and Climate Change Canada Environmental Numerical Weather Pred.</li>
<li>Fennel, Katja Professor Dalhousie University Department of Oceanography</li>
<li>Riemann, Randy Director, BC. Hydro Resource Planning</li>
<li>Wolk, Fabian President, Rockland Scientific Cascadia Coast Research</li>
<li>Hiles, Clayton Principal Engineer, Cascadia Coast Research</li>
<li>Dower, John Professor, University of Victoria Biology</li>
<li>Miller, Lisa Research Scientist, Department of Fisheries and Oceans Institute of Ocean Sciences</li>
<li>Ianson, Debby Research Scientist, Department of Fisheries and Oceans Institute of Ocean Sciences</li>
<li>Brydon, Stephen Director, BC Ministry of Energy and Mines Innovative Clean Energy Fund</li>
<li>Monahan, Adam Professor, University of Victoria, School of Earth and Ocean Sciences</li>
<li>Hebert, David Research Scientist, Department of Fisheries and Oceans Bedford Institute of Oceanography</li>
<li>Pawlowicz, Richard  Professor, University of British Columbia, Earth, Ocean, & Atmospheric Sciences</li>
</ul>
