
In August of 2021, C-PROOF completed our first year of sustained ocean glider missions along the
“Calvert Line” with the invaluable support of our partners at the Hakai Institute. We obtained the 
first year-round high-resolution oceanographic observations in this remote location despite a 
pandemic, rough weather conditions, strong tides, and instrument failures. 

<figure style="width:70%;margin-left:150px;margin-bottom:20px;">
<img src="../../img/CalvertLine1.jpg">
<figcaption style="text-align:center;font-style: italic;font-size: 16px;">Calvert Line 1: A C-PROOF ocean 
glider ready for deployment on the Calvert Line at the Hakai Institute field station on Calvert Island. Photo credit: James Pegg (DFO). </figcaption>
</figure>
On the Calvert Line, our ocean gliders cross Queen Charlotte Sound, a shelf sea partially enclosed 
by Haida Gwaii, Vancouver Island, and the mainland west coast of Canada. This region on the British 
Columbia central coast is a vital commercial and subsistence fishing ground, and home to several Marine 
Protected Areas. 

The rich ecosystems in this region are especially vulnerable to ocean acidification and deoxygenation,
as low-oxygen and naturally more acidic waters are upwelled seasonally from the Pacific Ocean onto the
continental shelf. Extreme events like marine heatwaves (such as “The Blob”), strong storms (sometimes
hurricane-force), and above-normal rainfall (“atmospheric rivers”) are increasingly threatening the 
region including the communities living along its coastline. 

<figure style="width:90%;margin-left:60px;margin-bottom:20px;">
<img src="../../img/CalvertLine2.jpg">
<figcaption style="text-align:center;font-style: italic;font-size: 16px;">View of Queen Charlotte Sound and the Northeast Pacific Ocean from Calvert Island, on the British Columbia central coast. Photo credit: Hayley Dosser (DFO) </figcaption>
</figure>
After being deployed by Hakai Institute technicians near the <a href= 'https://hakai.org/location/calvert/'><strong>Hakai Institute field station </strong></a> 
on Calvert Island, our gliders travel through a complex ocean landscape 
that includes deep fjords, submarine channels, islands, and shallow banks. On each mission, a glider transverses 
from the coast to the open ocean: covering around 500 km over-ground in a 3-4 week time span. Their data helps us
to understand how the physics and biogeochemistry of the ocean changes in response to the winds, tides, inflow of 
freshwater from the land and open-ocean water from the Northeast Pacific, and turbulent mixing. 

A detailed analysis of this powerful dataset is currently underway by C-PROOF researchers. Their work is motivated by 
questions about how the open ocean affects coastal waters, how the summer upwelling season differs from the winter downwelling 
season, and how changes in ocean water properties affect the marine organisms living in this ecologically rich environment.