Line P is a monitoring transect in the Northeast Pacific spanning from the
southern   tip   of   Vancouver   Island   in   Canada   towards   Station   Papa,
approximately 1500 km offshore to the west. It is one of the longest running
monitoring transect in the world with accessible data starting from 1957.
The   origins   of   Line   P   can   be   traced   back   to   April   1959   when   seven
hydrographic casts were started along the line leading towards Station Papa.
Since then, the sampling extended to more stations along the line. Currently,
Line P contains 27 stations along with 3 yearly cruises along the transect
which regularly samples the physical properties such as temperature and
salinity,  as well  as ecological  properties  such as dissolved oxygen  and
nutrients.