C-PROOF has been collecting high-resolution oceanographic data along the “Line P” 
glider line since 2019 with the support of our partners at 
<a href= 'https://www.dfo-mpo.gc.ca/science/data-donnees/line-p/index-eng.html'><strong>Fisheries and Oceans Canada </strong></a>. 
Our ocean gliders allow us to collect data without the use of a ship, reducing costs and our carbon 
footprint, and can collect data even during the roughest weather conditions.


<figure style="width:90%;margin-left:60px;margin-bottom:20px;">
    <img src="../../img/LineP1.jpg">
    <figcaption style="text-align:center;font-style: italic;font-size: 16px;">  </figcaption>
</figure>

Line P crosses the Northeast Pacific from the southern tip of Vancouver Island in Canada 
to Ocean Station Papa, approximately 1500 km to the west. It is one of the longest running 
ocean monitoring transects in the world. The origins of Line P can be traced back to 
December 1949, when it was operated as an ocean weather station. Ocean Station Papa was 
occupied by 
<a href= 'https://www.whoi.edu/oceanus/feature/alpha-bravo-charlie/'><strong>‘weatherships’ </strong></a>
as part of the Weathership Program until 1981, after which Fisheries and Oceans Canada (DFO) 
began running the 
<a href= 'https://www.waterproperties.ca/linep/'><strong>Line P Program</strong></a>. 
Now DFO runs 3 yearly cruises with 27 stations along the transect, sampling physical properties 
such as temperature and salinity, as well as ecologically-relevant properties such as dissolved 
oxygen and nutrients. 

The Northeast Pacific ocean environment is undergoing rapid changes. Climate change is having 
a profound effect on ocean ecosystems. Between 2014 and 2017, a marine heatwave observed in the 
Gulf of Alaska (“The Blob”) increased the ocean temperatures dramatically, reducing oxygen levels
 and nutrients and impacting numerous marine species including salmon, which generally benefit from 
 cool, well-oxygenated water. As the ocean continues to warm, there could be a significant shift in 
 fish migration pathways, an increase in harmful algal blooms, and many other damaging effects to 
 Northeast Pacific ocean ecosystems. The need for monitoring has never been more critical! 


<figure style="width:90%;margin-left:60px;margin-bottom:20px;">
    <img src="../../img/LineP2.jpg">
    <figcaption style="text-align:center;font-style: italic;font-size: 16px;"></figcaption>
</figure>

After being deployed near Tofino off the west coast of Vancouver Island, our gliders travel across 
the narrow continental shelf and out into the open ocean, diving repeatedly from the surface to a 
depth of 1000 m. On each mission, a glider can travel the entire length of Line P, to Ocean Station 
Papa and back again, covering around 3000 km over-ground in several months. Their data, combined with 
DFO sampling and other measurements such as satellite altimetry and ocean colour, will give us a more 
complete picture of the important physical and ecological processes in this region, and help us address 
the ongoing challenge of our changing climate.” 
