---
layout: page
---

<!-- Main Content -->
{{ content }}

<hr/>

<h2></h2>
{% for post in site.posts %}

<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h3 class="post-title">            {{ post.title }}
        </h3>
        {% if post.subtitle %}
        <h4 class="post-subtitle">
            {{ post.subtitle }}
        </h4>
        {% endif %}
    </a>
    <p class="post-meta" style="margin-bottom:5px">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
	<div class="notepad-index-post-tags" style="">
		{% for tag in post.tags %}<a href="{{ site.baseurl }}/search/index.html#{{ tag | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
	</div>
</div>

<hr>

{% endfor %}

<p>
<h2>
    In The News
</h2>
</p>

<hr>

{% for post in site.data.inthenews %}{% if post.visible == true %} 
<div class="post-preview">   <!---post-preview  -->
    <a href="{{ post.url }}">
        <h3 class="post-title">            {{ post.title }}
        </h3>
        {% if post.subtitle %}
        <h4 class="post-subtitle">
            {{ post.subtitle }}
        </h4>
        {% endif %}
    </a>
    <p class="post-meta" style="margin-bottom:5px">{% if post.author %}Posted by {{ post.author }} on {% endif %}  {{ post.date | date: "%B %-d, %Y" }}</p>
	<div class="notepad-index-post-tags" style="">
		{% for tag in post.tags %}<a href="{{ site.baseurl }}/search/index.html#{{ tag | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
	</div>
</div>
<hr>
{% endif %}
{% endfor %}





